# Terraform
*.tfstate
*.tfstate.*
*.log
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terragrunt-cache/
terraform.tfvars
terraform.tfvars.json
# Sensitive files
secret.tfvars